@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: VT323;
  background-image: url(./img/background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 30px;
  color: bisque;
}

.grid {
  margin-top: 10px;
  height: 600px;
  width: 1268px;
  border: 4px solid black;
  position: relative;
  background-image: url(./img/grid.jpg);
  z-index: -1;
}

.bottom {
  width: 1268px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  height: 60px;
  width: 240px;
  position: absolute;
  border: 4px solid black;
  background-image: url(./img/block.png);
}

.user {
  height: 40px;
  width: 120px;
  position: absolute;
  background-image: url(./img/user.jpg);
  border: 4px solid black;
}


.ball {
  height: 45px;
  width: 45px;
  border: 4px solid black;
  border-radius: 50%;
  background-image: url(./img/ball.png);
  position: absolute;
  z-index: 2;
}

.score {
  position: absolute;
  text-align: center;
  bottom: 200px;
  font-size: 70px;
  color: bisque;
  z-index: 2;
}

.rules {
  width: 300px;
}

.btn {
  text-align: center;
  padding: 0px 15px;
  font-size: 70px;
  color: bisque;
  border: 4px solid black;
  background-image: url(./img/btn.jpg);
  cursor: pointer;
}

.btn:active {
  color: greenyellow
}

.btn:disabled {
  opacity: 0.3;
}

.speed-scale {
  width: 300px;
}

.slider-text {
  font-size: 37px;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background-image: url(./img/grid.jpg);
  outline: none;
  /* opacity: 0.7; */
  /* -webkit-transition: .2s;
  transition: opacity .2s; */
}

/* .slider:hover {
  opacity: 1;
} */


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url(./img/user.jpg);
  border: 2px solid black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-image: url(./img/user.jpg);
  border: 2px solid black;
  cursor: pointer;
}