@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: VT323;
  background-image: url(./img/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid {
  margin-top: 10px;
  height: 600px;
  width: 1268px;
  border: 4px solid black;
  position: relative;
  background-image: url(./img/grid.jpg);
  z-index: -1;
}

.block {
  height: 60px;
  width: 240px;
  position: absolute;
  border: 4px solid black;
  background-image: url(./img/block.png);
}

.user {
  height: 40px;
  width: 120px;
  position: absolute;
  background-image: url(./img/user.jpg);
  border: 4px solid black;
}


.ball {
  height: 45px;
  width: 45px;
  border: 4px solid black;
  border-radius: 50%;
  background-image: url(./img/ball.png);
  position: absolute;
  z-index: 2;
}

.score {
  position: absolute;
  text-align: center;
  bottom: 200px;
  font-size: 70px;
  color: bisque;
  z-index: 2;
}

.rules {
  position: absolute;
  bottom: -80px;
  left: 330px;
  width: 400px;
  font-size: 30px;
  color: bisque;
}

.btn {
  position: absolute;
  text-align: center;
  padding: 0px 15px;
  bottom: -100px;
  font-size: 70px;
  color: bisque;
  border: 4px solid black;
  background-image: url(./img/btn.jpg);
  cursor: pointer;
}

.btn:active{
  color:greenyellow
}

.btn:disabled {
  opacity: 0.3;
}